[Service]
WorkingDirectory=/home/pi/evexerxes-discord-bot
ExecStart=/usr/bin/npm run prod
Restart=always
SyslogIdentifier=evexerxes-discord-bot
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
